body{
  background-color: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;

}

.head{
  display: flex;
  margin: 10px;
}

.logo{
  position: relative;
  left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: ; */
}

.post-bar{
  /* border: 1px solid black; */
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 30px;
  right: 3px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.dp{
  width: 100px;
  height: 60px;
}

.post{
  /* border: 1px solid black; */
  border-radius: 30px;
  background-color: white;
  margin: 20px;
  margin-left: 25%;
  padding: 20px;
  width: 600px;
  position: relative;
  top: 35px;
  left: 3px;
}

.post > .tittle {
  font-size: 25px;
  display: block;
  /* font-weight: bold; */
  text-decoration: none;
  color: black;
}

.post > .image{
  width: 600px;
}

.f1{
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
  right: 10px;
}

textarea{
  width: 60%;
  height: 30px;
  /* padding: 10px; */
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  text-indent: 18px;
  position: relative;
  /* right: 2px; */
  top: 3px;
  border: 1px solid lightgrey;

}

input{
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 30px;
  width: 60%;
  height: 30px;
  text-indent: 10px;
}

.b1{
  width: 50px;
  height: 25px; 
  position: relative;
  top: 7px;
  right: 3px;
  background-color: rgb(32, 146, 178);
  border: none;
  border-radius: 4px;
  color: azure;
  font-weight: bold;
  cursor: pointer;
}

.b2{
  width: 60px;
  height: 25px; 
  margin-left: 7px;
  background-color: rgb(32, 146, 178);
  border: none;
  border-radius: 4px;
  color: azure;
  font-weight: bold;
  cursor: pointer;
}

.btns{
  background-color: white;
  border: none;
}

.loader{
  color: aliceblue;
  text-align: center;
  position: relative;
  top: 40px;
}